.selection-dropdown {
  position: relative;
}

.selection-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.selection-dropdown:hover .dropdown-content {
  display: block;
}
